@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;308;400;508;600;700; 808;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

*::selection {
    color: #fff;
    background-color: #000;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#main {
    width: 100%;
    /* background-color: #fff; */
    background-image: url(".././../images/white-wall-texture-background.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home {
    width: 100%;
    min-height: 100vh;
}

/*/////////////////
// navbar Start //
/////////////////*/
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(233, 230, 220); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .logo {
    display: flex;
    align-items: center;
} */

.logo img {
    padding-top: 10px;
    width: 37%;
    object-fit: cover;
    overflow: hidden;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000;
    font-weight: 700;
    margin: 10px 20px;
    position: relative;
}
nav ul li a:hover {
color: #161515;
}

nav ul li a::after {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #272323;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}
nav ul li a:hover::after {
width: 100%;

}
/* ICON START */
.icon {
    display: none;
}



/* ICON END */

/*////////////// 
//navbar end/// 
///////////////*/

/*///////////////////// 
//HERO SECTION START//
//////////////////////*/
#homemain {
    width: 100%;
    padding: 13% 15% 8% 15%;
}

#homemain h1 {
    font-weight: 500;
    letter-spacing: -.01rem;
    font-size: 1.34rem;
}

.heading {
    display: flex;
    gap: 30px;
}

#homemain .heading h1 {
    color: transparent;
    -webkit-text-stroke: 1px #000;
    font-size: 6rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -5px;
}

#homemain .heading h1:hover {
    color: #000;
}

#homelast {
    padding: 5% 15% 0 15%;
}

#homelast p {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: -.08rem;
    width: 70%;
    /* word-break: break-all; */
}

#homelast p::selection {
    color: #fff;
    background-color: #000;
}



/*////////////////// 
//HERO SECTION END//
///////////////////*/







/*/////////////////////// 
//Featured SECTION END//
///////////////////////*/
#featured {
    padding: 5% 15% 10%;
}

.fheading h1 {
    line-height: 1;
    font-size: 4rem;
    font-weight: 400;
}

.fheading>h1:nth-child(2) {
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

.info , .info2 {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
}

/* LEFT INFO START */
.left_info {
    width: 45%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* height: inherit; */
}

.info_data {
    width: 100%;
    margin: auto 0;
}

.info_data h2 {
    font-size: 2rem;
    line-height: 1.2;
}

.info_data p {
    font-size: 1rem;
    margin-top: 20px;
}

/* LEFT INFO END */

/* RIGHT INFO START */
.right_info {
    width: 45%;
}

.right_info .images {
    width: 100%;
    /* overflow: hidden; */
}

.right_info .images img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-bottom: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);

}

.btndiv {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.btndiv button {
    background-color: #E9E6DC;
    color: #000;
    padding: 8px 15px;
    border-radius: 25px;
    font-size: 1rem;
    border-color: #b6b2a7;
    font-weight: 600;
}

.btndiv button:hover {
    background-color: #000;
    color: #E9E6DC;
    padding: 8px 15px;
    border-radius: 25px;
    border-color: #fff;
    font-weight: 600;
}


/* LEFT INFO END */
/*/////////////////////// 
//Featured SECTION END//
///////////////////////*/

















/* ////////////////
  //FOOTER START//
 ////////////////*/

.main_footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 2.3%;
    /* background-color: #333; */
}

footer {
    position: relative;
    width: 100%;
    background-color: #0B0B0B;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;

}

footer .social_icon li {
    list-style: none;
}

footer .social_icon li a,
.menu li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}


footer .social_icon li a:hover {
    transform: translateY(-10px);
}

.menu li {
    list-style: none;
}

.menu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.5;
    position: relative;
}

.menu li a:hover {
    opacity: 1;
}
.menu li a::after {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #fff;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}
.menu li a:hover::after{
    width: 100%;
}

.menu li a:hover {
    opacity: 1;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('./../../images/waves.png');
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 2;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 3;
    opacity: 0.2;
    bottom: 20px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 4;
    opacity: 0.7;
    bottom: 15px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

/* //////////////
  //FOOTER END//
 //////////////*/
.scrollTop-style{
    position: fixed;
    right: 3%;
    bottom: 2.8%;
    z-index: 5;
}

.scroll-top{
    width: 2rem;
    height: 2.5rem;
    border-radius: 15px;
    background-color: royalblue;
    display: inline-block;
    padding: 0.3rem 0.8rem;
    color: #fff;
    position: relative;
    cursor: pointer;
}



@media screen and (max-width: 1024px) {
    #homemain {
        padding: 13% 9% 8%;
    }

    #homelast {
        padding: 5% 9% 0px;
    }

    #homelast p {
        font-size: 1.3rem;
    }

    #featured {
        padding: 5% 9% 20%;
    }

}

@media screen and (max-width: 914px) {
    #homemain {
        padding: 13% 9% 8%;
    }

    #homemain .heading h1 {
        font-size: 5rem;
    }

    .right_info {
        width: 48%;
    }

    .left_info {
        width: 48%;
    }

    .info_data h2 {
        font-size: 1.8rem;
        line-height: 1.2;
    }

}





@media screen and (max-width: 768px) {
    nav ul li a {
        font-size: 1rem;
    }

    #homemain {
        padding: 13% 6% 8%;
    #homelast {
        padding: 5% 6% 0px;
    }

    #homelast p {
        font-size: 1.2rem;
    }

    #featured {
        padding: 5% 6% 15%;
    }
  }

  
}


@media screen and (max-width: 712px) {
    #homemain h1 {
        font-size: 1rem;
    }

    #homemain {
        padding: 13% 6% 8%;
    }

    #homemain .heading h1 {
        font-size: 4rem;
    }

    #homelast {
        padding: 5% 6% 0px;
    }

    #homelast p {
        font-size: 1.2rem;
    }

    .heading {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 30px;
    }
}




@media screen and (max-width: 652px) {
    .navbar {
        padding: 0 28px;
        position: relative;
        justify-content: space-between;
    }

    nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        /* background-color: rgb(255, 253, 246); */
        background-image: url(".././../images/white-wall-texture-background.jpg");
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        justify-content: center;

        transform: translateX(100%);
        transition: 0.3s all;
        z-index: 999;


    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        justify-content: center;
        display: flex;
        align-items: center;
    }

    nav ul li a {
        font-size: 1.2rem;
    }

    .active nav {
        z-index: 9;
        transform: translateX(0%);
        transition: 0.3s all;
        position: fixed;
    }

    .active .icon .menu {
        display: none;
    }

    .active .icon .close {
        display: block;
    }

    .icon {
        display: block;
        z-index: 999;
    }

    .icon .menu,
    .icon .close {
        width: 33px;
        height: 33px;
    }

    .icon .close {
        display: none;
    }

    #featured {
        padding: 5% 6% 20%;
    }

    .info {
        flex-direction: column;
    }

    .right_info {
        width: 100%;
    }

    .left_info {
        width: 100%;
    }

    .right_info .images img {
        height: 350px;
    }




    .info2{
        display: flex;
        flex-direction: column-reverse;
    }

    
}

@media screen and (max-width: 564px) {
    #homelast p {
        width: 100%;
        word-break: break-all;
    }
}

@media screen and (max-width: 425px) {
    #featured {
        padding: 5% 6% 40%;
    }
    .right_info .images img {
        height: 270px;
    }
}

@media screen and (max-width: 375px) {
    #homemain .heading h1 {
        font-size: 3.5rem;
    }
    #featured {
        padding: 5% 6% 45%;
    }
    .fheading h1 {
        line-height: 1;
        font-size: 3.2rem;
        font-weight: 400;
    }
    /* .right_info .images img {
        height: 290px;
    } */
}